.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    gap: 20px;
}

.loading-icon {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

/* Dot Spinner */
.dot-spinner {
    display: flex;
    gap: 8px;
}

.dot-spinner::before,
.dot-spinner::after,
.dot-spinner div {
    content: "";
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    animation: dotBlink 0.7s infinite alternate;
}

.dot-spinner::after {
    animation-delay: 0.2s;
}

.dot-spinner div {
    animation-delay: 0.4s;
}

@keyframes dotBlink {
    from {
        opacity: 0.2;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1.3);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}